<div class="table-row flex-grow-1">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="table-head">Sl.No<span><i class="fa-solid  fa-chevron-down"></i></span></th>
          <th scope="col" class="table-head">Name<span><i class="fa-solid  fa-chevron-down"></i></span></th>
          <th scope="col" class="table-head">Email<span><i class="fa-solid  fa-chevron-down"></i></span></th>
          <th scope="col" class="table-head">Phone<span><i class="fa-solid  fa-chevron-down"></i></span></th>
          <th scope="col" class="table-head">Gender<span><i class="fa-solid  fa-chevron-down"></i></span></th>
          <th scope="col" class="table-head">DOB<span><i class="fa-solid  fa-chevron-down"></i></span></th>
          <th scope="col" class="table-head">Country<span><i class="fa-solid  fa-chevron-down"></i></span></th>
          <th scope="col" class="table-head"></th>

        </tr>
      </thead>
      <tbody id="tableBody">
        <tr>
          <th scope="row" class="table-num">#01</th>

          <td><img src="image/Rectangle 346.png">Mr. Michael Johnson</td>
          <td>michaeljohnson@example.com</td>
          <td>5551234567</td>
          <td>Male</td>
          <td>10 December 1985</td>
          <td>USA</td>
          <td>
            <div class="dropdown">
              <a class="btn btn-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis"></i>
              </a>

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"><span><i class="fa-regular fa-eye "
                        style="color: #b9babb;"></i></span>View Details</a></li>
                <li onclick="editForm()"><a class="dropdown-item" href="#"><span><i class="fa-solid fa-pencil"
                        style="color: #b9babb;"></i></span>Edit</a></li>
                <li onclick="deleteForm()"><a class="dropdown-item" href="#"><span><i class="fa-solid fa-trash"
                        style="color:  #b9babb;"></i></span>Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>


      </tbody>
    </table>
  </div>