<div class="header-main ">
    <h4 class="notfound" id="notFound">employee not found</h4>
    <div class="color d-flex justify-content-between p-4">
      <div class=" col-lg-6 d-flex align-items-center gap-3">
        <h5 class="title-txt">Employees List</h5>
        <select name="" id="employeeNumber" onchange="createBtn()" class="form-select-optn d-flex p-2 rounded-3"
          aria-label="Default select example">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected>5</option>

          <option value="6">6</option>
          <option value="10">10</option>
        </select>
        <h6 class="count">of 10</h6>
      </div>

      <div class="col-lg-2 justify-content-end d-flex">
        <button type="button" onclick="addformOpen()" class="btnn btn-primary  px-3 py-2 rounded-4 "
          id="addEmployeeBtn">Add
          Employee</button>
      </div>
    </div>
  </div>