<div class="col-lg-2 sidebar d-flex flex-column justify-content-between">
    <header>
        <div class="sidebar-head mb-2 p-3">
            <h3>Employee</h3>
            <h4 class="txt ">Management</h4>
        </div>
    </header>

    <body>
        <ul class="sidebar-menu p-0 flex-grow-1">
            <li>
                <a href="#"><span><i class="fa-solid fa-house"></i></span>Dashboard</a>
            </li>
            <li>
                <a href="/"><span><i class="fa-solid fa-chart-simple"></i></span>Employees
                </a>
            </li>
            <li>
                <a href="#"><span><i class="fa-solid fa-user"></i></span>My Profile </a>
            </li>
            <li>
                <a href="/trash"><span><i class="fa-solid fa-trash"></i></span> Trash </a>
            </li>
            <li>
                <a href="#" id="logout"><span><i class="fa-solid fa-lock"></i></span>Logout</a>
            </li>
        </ul>
    </body>

    <footer>
        <div class="footer-bottom d-flex gap-2 align-items-center p-2">
            <h6 class="footer-txt m-0">Powered by</h6>
            <img src="image/image 1.png" />
        </div>
    </footer>

</div>